/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.p1{
    padding: 1rem 0rem;
}

.p05{
    padding: 0.5rem 0;
}

.p2{
    padding: 1.5rem 0;
}

.p3{
    padding: 2rem 0;
}

.p4{
    padding: 2.5rem 0;
}

.p5{
    padding: 3rem 0;
}

.p10{
    padding: 10rem 0;
}

@media(max-width: 500px){

.p10{
        padding: 5rem 0
}
    }

.para{
    line-height: 24px;
}

body{
    font-family: Lato;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.primary-color{
    color: #022632;
}

.light-color{
    color: #20CCBD;
}

.white-color{
    color: #fff;
}

.italic{
    font-style:italic;
}

a{
    text-decoration: none;
}

.container{
    width: 59.905412506%;
    margin: 0 auto;
}

@media(max-width: 500px){

.container{
        width: 93%
}
    }

.center{
    text-align: center;
}

.f-bolder{
    font-weight: 900;
}

.f-bold{
    font-weight: bold;
}

.f-uppercase{
    text-transform: uppercase;
}

.second-card-color{
    color:#82CC33
}

.third-card-color{
    color:#D1C500;
}

.fourth-card-color{
    color: #F1A630;
}

.thin-header{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0rem;
}

@media(max-width: 500px){

.thin-header{
        font-size: 1.2rem
}
    }

.thick-header{
    font-size: 4rem;
    font-weight: 900;
    margin: 0rem;
}

@media(max-width: 500px){

.thick-header{
        font-size: 3rem
}
    }

#background-image{
    z-index: -2;
    position: fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    background-size: cover;
    float: right;
    
}

#background-image img{
        width: 100%;
    }

@media(max-width: 500px){

#background-image img{
            height: 100vh
    }
    }

#navbar{
    width: 100%;
    font-family: "lato",sans-serif;
    background: #fff;
    position: fixed;
    z-index: 999999;
}

#navbar .wrapper{
        transition: all 0.3s;
        width: 90%;
        margin: 0 auto;
        display: grid;
        padding: 1.5rem;
        grid-template-columns: repeat(2,1fr);
    }

@media(max-width: 500px){

#navbar .wrapper{
            display: flex;
            justify-content: space-between
    }
    }

#navbar .wrapper .logo img{
                width:60%;
/*                padding: 0.6rem 0;*/
            }

@media(max-width: 500px){

#navbar .wrapper .navigation{
                display:none
        }
    }

#navbar .wrapper .navigation ul li{
                    display: inline-block;
                    padding: 1rem 2.5rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    cursor: pointer;
                }

#navbar .wrapper .navigation ul li:first-child{
                    transition: inherit;
                    color: #00ccbd;
                }

#navbar .wrapper .navigation ul li:not(middle-chiled):hover{
                    transition: all 0.3s;
                    color: #00ccbd;
                }

#navbar .wrapper .navigation ul .menus ul{
                        left: -2.5rem;
                        top: 7rem;
                    }

#navbar .wrapper .navigation ul .menus ul li{
                            background: #fff;
                            display: inline-block;
                            text-align: center;
                        }

#navbar .wrapper .hamburger{
            display: none;
        }

@media(max-width: 500px){

#navbar .wrapper .hamburger{
                display: block;
                font-size: 2rem;
                cursor: pointer
/*                padding: 0.6rem;*/
        }
    }

#showcase{
    width:100%;
}

#showcase img{
        margin-top:5.1rem;
        width: 100%;
    }

@media(max-width: 500px){

#showcase{
        height: 100%
}
    }

#about{
    width:100%;
    margin: 0;
}

@media(max-width: 500px){

#about{
            background: #fff
}
    }

#about .images{
        width:100%;
        z-index: -1;
    }

@media(max-width: 500px){

#about .images{
            display: none
    }
    }

#about .images img{
            width: 100%;
            
        }

#about .wraper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

@media(max-width: 500px){

#about .wraper{
            text-align: center;
            display: block
    }
    }

#about .wraper .data{
            padding: 10rem 0;
            text-align:center;
        }

@media(max-width: 500px){

#about .wraper .data{
                text-align: center;
                padding: 5rem 0;
                box-sizing: border-box;
        }
    }

#about .wraper .data p:not(.first){
                font-weight: 900;
            }

#about .wraper .data .first{
                font-size: 1.2rem;
                font-weight: 300;
                margin: 0rem;
            }

@media(max-width: 500px){

#about .wraper .data .first{
                    font-size: 1rem
            }
    }

#about .wraper .data .second{
                color:#022632;
                font-size: 4rem;
                margin: 0rem;
            }

@media(max-width: 500px){

#about .wraper .data .second{
                    font-size: 2.5rem
            }
    }

#about .wraper .data .third{
                font-size: 4rem;
                margin: 0;
/*                color: $light-font;*/
            }

#about .wraper .data .light-weight{
                color: #818181;
                font-size: 1.2rem;
                font-weight: 300 !important;
                line-height:1.5;
                font-style: italic;
            }

#welcome{
    margin-top: 0.5rem;
    background: rgb(0,38,50,0.7);
    z-index: -9999;
}

#welcome p{
        margin: 0;
    }

#welcome .wrapper{
        text-align: left;
    }

#welcome .wrapper .row{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 1rem;
        }

@media(max-width: 500px){

#welcome .wrapper .row{
                grid-template-columns: repeat(1,1fr);
                padding: 1rem
        }
    }

#welcome .wrapper .row .card{
                display: flex;
                justify-content: space-around;
            }

#welcome .wrapper .row .card .f-1{
                    font-size: 1.5rem;
                }

#welcome .wrapper .row .card .icon{
                    display: inline-block;
                }

#welcome .wrapper .row .card .content{
                    padding: 0rem 10px;
                }

#welcome .wrapper .row .card .content p{
                        margin: 0;
                        padding:0 10px;
                    }

#welcome .wrapper .row .card .content .paragraph{
                        padding: 1rem 10px;
                    }

#application{
    width:100%;
    background: #fff;
}

#application .head{
        color:#022632;
    }

#application .row{
        width: 100%;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2,1fr);
    }

@media(max-width: 500px){

#application .row{
            grid-template-columns: repeat(1,1fr)
    }
    }

#application .row .card{
            height: 22rem;
            overflow: hidden;
            text-align: center;
            position: relative;           
        }

@media(max-width: 500px){

#application .row .card{
                height: 19rem           
        }
    }

#application .row .card p{
                display: inline-block;
            }

#application .row .card .image{
                z-index: -2;
                width: 100%;
            }

#application .row .card .image img{
                    width: 100%;
                }

#application .row .card .image img:hover{
                    opacity: 0.4;
                    transition: all 0.3s;
                }

#application .row .card .title:hover .image>img{
                opacity: 0.4;
                transition: all 0.3s;
            }

#application .row .card .title{
                position: absolute;
                z-index: 9999;
                padding: 1.5rem;
                background: #002632;
                margin: 0;
                width: 100%;
                bottom: 0;
                float: left;
            }

#application .row .card .title .eve{
                    color:#00ccbd;
                }

#application .row .card .title .odd{
                    color: #50a2d4;
                }

#application .row .card .title:hover{
                background:#00ccbd;
                cursor: pointer;
                transition: all 0.3s;
            }

#application .row .card .title:hover a{
                    transition: all 0.3s;
                    color:#fff;
                }

#welcome2{
    background: rgb(0,38,50,0.7);
    z-index: -9999;
}

#welcome2 .wrapper{
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

@media(max-width: 500px){

#welcome2 .wrapper{
            display: block
    }
    }

#welcome2 .wrapper .abouts{
            width:65%;
        }

@media(max-width: 500px){

#welcome2 .wrapper .abouts{
                width: 100%
        }
    }

#welcome2 .wrapper .row{
            width: 30%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 1rem;
        }

@media(max-width: 500px){

#welcome2 .wrapper .row{
                width: 100%
        }
    }

#welcome2 .wrapper .row .card{
                display: flex;
                justify-content: space-around;
            }

#welcome2 .wrapper .row .card .f-1{
                    font-size: 1.8rem;
                }

#welcome2 .wrapper .row .card .icon{
                    display: inline-block;
                }

#welcome2 .wrapper .row .card .content{
                    padding: 0rem 10px;
                }

#welcome2 .wrapper .row .card .content p{
                        margin: 0;
                        padding:0 10px;
                    }

#welcome2 .wrapper .row .card .content .paragraph{
                        padding: 1rem 10px;
                    }

#footer{
    background: #1C1F25;
}

/*    background-image: url("bottom.jpeg");*/

#footer .container .row{
            padding: 4rem 0;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 3rem;
            color: #fff;
        }

@media(max-width: 500px){

#footer .container .row{
                display: block
        }
    }

#footer .container .row .head{
                font-size: 2rem;
                margin: 0;
            }

#footer .container .row .about img{
                    width: 100%; 
                }

#footer .container .row .queries .border{
                    border:solid 2px #fff;
                    margin: 1rem 0;
                    color: #fff;
                }

#footer .container .row .queries .border i{
                        padding: 1rem;
                        color: #50a2d4;
                    }

#footer .container .row .queries .border .message{
                        box-sizing: border-box;    
                    }

#footer .container .row .queries .border .message input{
                            width: 80%;
                            margin: 1rem 0;
                            margin-left: 3.3rem;
                            background: none;
                            border: none;
                            color: #fff;
                        }

#footer .container .row .queries .border .message textarea{
                            padding-bottom: 4rem;
                            width: 80%;
                            margin: 1rem 0;
                            margin-left: 3.3rem;
                            background: none;
                            border: none;
                            color: #fff;
                        }

#footer .container .row .queries .btn{
                    padding: 0.3rem 3.5rem;
                    display: inline-block;
                    background: #4a5366;
                    border:solid 2px #4a5366;
                    margin-top: 1rem;
                }

@media(max-width: 500px){

#footer .container .row .queries .btn{
                        padding: 0.001rem 3.5rem;
                        font-weight: 700;
                        margin: 1rem 0
                }
    }

#footer .container .row .queries .btn:hover{
                    background: none;
                    color: #4a5366;
                    transition: all 0.3s;
                    cursor: pointer;
                }

#footer .container .row .queries .border:last-child p{
                        padding-bottom: 4rem;
                    }

#footer .container .row .contacts .information{
                    padding: 1rem 0;
                }

#footer .container .row .contacts .information .data i{
                            padding: 1rem;
                            color: #50a2d4;
                            font-size: 1.3rem;
                            text-align: center;
                            margin-left:-1rem;
                        }

#footer .container .row .contacts .information .data p{
                            width: 80%;
                            display: inline-block;
                            margin-left: 2.5rem;
                        }

#footer .container .row .contacts .information .social{
                        padding: 1rem 0;
                        box-sizing: border-box;
                    }

#footer .container .row .contacts .information .social .icon{
/*                            padding: 0.2rem;*/
                            color: #fff;
                            display: inline-block;
                            margin-left: 0.2rem;
                            padding: 0.8rem 0.8rem;
                        }

#footer .container .row .contacts .information .social .icon:hover{
                            background: #fff;
                            transition: all 0.3s;
                            cursor: pointer;
                        }

#footer .container .row .contacts .information .social .facebook{
                            margin-left: -0.2rem;
                            background: #507cbe;
                        }

#footer .container .row .contacts .information .social .facebook:hover{
                            color: #507cbe;
                            transition: all 0.3s;
                        }

#footer .container .row .contacts .information .social .twitter{
                            background: #00abef;
                        }

#footer .container .row .contacts .information .social .twitter:hover{
                            color: #00abef;
                            transition: all 0.3s;
                        }

#footer .container .row .contacts .information .social .google{
                            background: #d93e2d;
                        }

#footer .container .row .contacts .information .social .google:hover{
                            color: #d93e2d;
                            transition: all 0.3s;
                        }

#footer .container .row .contacts .information .social .linkedin{
                            background: #3371b7;
                        }

#footer .container .row .contacts .information .social .linkedin:hover{
                            color: #3371b7;
                            transition: all 0.3s;
                        }

#footer .container .row .contacts .information .social .pinterest{
                            background: #c92619;
                        }

#footer .container .row .contacts .information .social .pinterest:hover{
                            color: #c92619;
                            transition: all 0.3s;
                        }

#credit{
    width: 100%;
    background: #002632;
    color: #fff;
    margin: 0;
    padding: 3rem;
    box-sizing: border-box;
}

#credit p{
        margin: 0;
    }

#scrollUp{
    bottom:30px;
    right:30px;
    padding: 2rem;
    background-color: #50a2d4;
    color:#fff;
    cursor: pointer;
    
}

#scrollUp:hover{
    bottom:40px;
    transition: all 0.4s;
}