.p1{
    padding: 1rem 0rem;
}
.p05{
    padding: 0.5rem 0;
}
.p2{
    padding: 1.5rem 0;
}
.p3{
    padding: 2rem 0;
}
.p4{
    padding: 2.5rem 0;
}
.p5{
    padding: 3rem 0;
}
.p10{
    padding: 10rem 0;
    @mixin atSmall{
        padding: 5rem 0;            
    }
}
.para{
    line-height: 24px;
}
body{
    font-family: Lato;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.primary-color{
    color: $primary-color;
}
.light-color{
    color: $light-font;
}
.white-color{
    color: #fff;
}
.italic{
    font-style:italic;
}
a{
    text-decoration: none;
}
.container{
    width: 59.905412506%;
    margin: 0 auto;
    @mixin atSmall{
        width: 93%;            
    }
}
.center{
    text-align: center;
}
.f-bolder{
    font-weight: 900;
}
.f-bold{
    font-weight: bold;
}
.f-uppercase{
    text-transform: uppercase;
}
.second-card-color{
    color:#82CC33
}
.third-card-color{
    color:#D1C500;
}
.fourth-card-color{
    color: #F1A630;
}
.thin-header{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0rem;
    @mixin atSmall{
        font-size: 1.2rem;
    }
}
.thick-header{
    font-size: 4rem;
    font-weight: 900;
    margin: 0rem;
    @mixin atSmall{
        font-size: 3rem;
    }
}


























