#about{
    width:100%;
    margin: 0;
    @mixin atSmall{
            background: #fff;
    }
    .images{
        width:100%;
        z-index: -1;
        @mixin atSmall{
            display: none;
        }
        img{
            width: 100%;
            
        }
    }
    .wraper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @mixin atSmall{
            text-align: center;
            display: block;
        }
        .data{
            padding: 10rem 0;
            @mixin atSmall{
                text-align: center;
                padding: 5rem 0;
                box-sizing: border-box;
            }
            p:not(.first){
                font-weight: 900;
            }
            .first{
                font-size: 1.2rem;
                font-weight: 300;
                margin: 0rem;
                @mixin atSmall{
                    font-size: 1rem;
                }
            }
            .second{
                color:$primary-color;
                font-size: 4rem;
                margin: 0rem;
                @mixin atSmall{
                    font-size: 2.5rem;
                }
            }
            .third{
                font-size: 4rem;
                margin: 0;
/*                color: $light-font;*/
            }
            .light-weight{
                color: #818181;
                font-size: 1.2rem;
                font-weight: 300 !important;
                line-height:1.5;
                font-style: italic;
            }
            text-align:center;
        }
    }
}






























