#application{
    width:100%;
    background: #fff;
    .head{
        color:#022632;
    }
    .row{
        width: 100%;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2,1fr);
        @mixin atSmall{
            grid-template-columns: repeat(1,1fr);        
        }
        .card{
            height: 22rem;
            overflow: hidden;
            text-align: center;
            position: relative;
            @mixin atSmall{
                height: 19rem;    
            }
            p{
                display: inline-block;
            }
            .image{
                z-index: -2;
                width: 100%;
                img{
                    width: 100%;
                }
                img:hover{
                    opacity: 0.4;
                    transition: all 0.3s;
                }
            }
            .title:hover .image>img{
                opacity: 0.4;
                transition: all 0.3s;
            }
            .title{
                position: absolute;
                z-index: 9999;
                padding: 1.5rem;
                background: #002632;
                margin: 0;
                width: 100%;
                bottom: 0;
                float: left;
                .eve{
                    color:#00ccbd;
                }
                .odd{
                    color: #50a2d4;
                }
            }
            .title:hover{
                background:#00ccbd;
                cursor: pointer;
                transition: all 0.3s;
                a{
                    transition: all 0.3s;
                    color:#fff;
                }
            }           
        }
    }
}