#background-image{
    z-index: -2;
    position: fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    background-size: cover;
    float: right;
    img{
        width: 100%;
        @mixin atSmall{
            height: 100vh;
        }
    }
    
}
