#footer{
    background: #1C1F25;
/*    background-image: url("bottom.jpeg");*/
    .container{
        .row{
            padding: 4rem 0;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 3rem;
            color: #fff;
            @mixin atSmall{
                display: block;
            }
            .head{
                font-size: 2rem;
                margin: 0;
            }
            .about{
                img{
                    width: 100%; 
                }
            }
            .queries{
                .border{
                    border:solid 2px #fff;
                    margin: 1rem 0;
                    color: #fff;
                    i{
                        padding: 1rem;
                        color: #50a2d4;
                    }
                    .message{
                        box-sizing: border-box;
                        input{
                            width: 80%;
                            margin: 1rem 0;
                            margin-left: 3.3rem;
                            background: none;
                            border: none;
                            color: #fff;
                        }
                        textarea{
                            padding-bottom: 4rem;
                            width: 80%;
                            margin: 1rem 0;
                            margin-left: 3.3rem;
                            background: none;
                            border: none;
                            color: #fff;
                        }    
                    }
                }
                .btn{
                    padding: 0.3rem 3.5rem;
                    display: inline-block;
                    background: #4a5366;
                    border:solid 2px #4a5366;
                    margin-top: 1rem;
                    @mixin atSmall{
                        padding: 0.001rem 3.5rem;
                        font-weight: 700;
                        margin: 1rem 0;
                    }
                }
                .btn:hover{
                    background: none;
                    color: #4a5366;
                    transition: all 0.3s;
                    cursor: pointer;
                }
                .border:last-child{
                    p{
                        padding-bottom: 4rem;
                    }
                }
            }
            .contacts{
                .information{
                    padding: 1rem 0;
                    .data{
                        i{
                            padding: 1rem;
                            color: #50a2d4;
                            font-size: 1.3rem;
                            text-align: center;
                            margin-left:-1rem;
                        }
                        p{
                            width: 80%;
                            display: inline-block;
                            margin-left: 2.5rem;
                        }
                    }
                    .social{
                        padding: 1rem 0;
                        box-sizing: border-box;
                        .icon{
/*                            padding: 0.2rem;*/
                            color: #fff;
                            display: inline-block;
                            margin-left: 0.2rem;
                            padding: 0.8rem 0.8rem;
                        }
                        .icon:hover{
                            background: #fff;
                            transition: all 0.3s;
                            cursor: pointer;
                        }
                        .facebook{
                            margin-left: -0.2rem;
                            background: #507cbe;
                        }
                        .facebook:hover{
                            color: #507cbe;
                            transition: all 0.3s;
                        }
                        .twitter{
                            background: #00abef;
                        }
                        .twitter:hover{
                            color: #00abef;
                            transition: all 0.3s;
                        }
                        .google{
                            background: #d93e2d;
                        }
                        .google:hover{
                            color: #d93e2d;
                            transition: all 0.3s;
                        }
                        .linkedin{
                            background: #3371b7;
                        }
                        .linkedin:hover{
                            color: #3371b7;
                            transition: all 0.3s;
                        }
                        .pinterest{
                            background: #c92619;
                        }
                        .pinterest:hover{
                            color: #c92619;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}
































