#navbar{
    width: 100%;
    font-family: "lato",sans-serif;
    background: #fff;
    position: fixed;
    z-index: 999999;
    .wrapper{
        transition: all 0.3s;
        width: 90%;
        margin: 0 auto;
        display: grid;
        padding: 1.5rem;
        grid-template-columns: repeat(2,1fr);
        @mixin atSmall{
            display: flex;
            justify-content: space-between;
        }
        .logo{
            img{
                width:60%;
/*                padding: 0.6rem 0;*/
            }
        }
        .navigation{
            @mixin atSmall{
                display:none;
            }
            ul{
                li{
                    display: inline-block;
                    padding: 1rem 2.5rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                li:first-child{
                    transition: inherit;
                    color: #00ccbd;
                }
                li:not(middle-chiled):hover{
                    transition: all 0.3s;
                    color: #00ccbd;
                }
                .menus{
                    ul{
                        left: -2.5rem;
                        top: 7rem;
                        li{
                            background: #fff;
                            display: inline-block;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .hamburger{
            display: none;
            @mixin atSmall{
                display: block;
                font-size: 2rem;
                cursor: pointer;
/*                padding: 0.6rem;*/
            }
        }
    }
}
































