#welcome{
    margin-top: 0.5rem;
    background: rgb(0,38,50,0.7);
    z-index: -9999;
    
    p{
        margin: 0;
    }
    .wrapper{
        text-align: left;
        .row{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 1rem;
            @mixin atSmall{
                grid-template-columns: repeat(1,1fr);
                padding: 1rem;
            }
            .card{
                .f-1{
                    font-size: 1.5rem;
                }
                .icon{
                    display: inline-block;
                }
                .content{
                    padding: 0rem 10px;
                    p{
                        margin: 0;
                        padding:0 10px;
                    }
                    .paragraph{
                        padding: 1rem 10px;
                    }
                }
                display: flex;
                justify-content: space-around;
            }
        }
    }
}




























