#welcome2{
    background: rgb(0,38,50,0.7);
    z-index: -9999;
    .wrapper{
        text-align: left;
        display: flex;
        justify-content: space-between;
        @mixin atSmall{
            display: block;        
        }
        .abouts{
            width:65%;
            @mixin atSmall{
                width: 100%;    
            }
        }
        .row{
            width: 30%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 1rem;
            @mixin atSmall{
                width: 100%;    
            }
            .card{
                .f-1{
                    font-size: 1.8rem;
                }
                .icon{
                    display: inline-block;
                }
                .content{
                    padding: 0rem 10px;
                    p{
                        margin: 0;
                        padding:0 10px;
                    }
                    .paragraph{
                        padding: 1rem 10px;
                    }
                }
                display: flex;
                justify-content: space-around;
            }
        }
    }
}




























